global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090

  - job_name: kitty-services
    metrics_path: /metrics
    static_configs:
      - targets:
          - brain:8000

  - job_name: redis
    static_configs:
      - targets:
          - redis-exporter:9121
